/*Medium Layout : 1280px */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
.ftco-intro {
    display: none;
}
}


/* Tablet Layout : 768px */

@media only screen and (min-width : 768px) and (max-width : 991px) {


}

/* Mobile Layout : 320px */

@media only screen and (max-width: 767px) { 

section#responsive {
    display: block;
}
section.home-slider.owl-carousel.owl-loaded.owl-drag {
    display: none;
}
.owl-carousel.home-slider .slider-item .slider-text {

    height: 800px;

}
.content_bg {
    margin-top: 200px;
}
.ftco-intro {
    display: none;
}
}



/*Wide mobile layout : 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) { 

}