/*Medium Layout : 1280px */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .ftco-intro {
        display: none;
    }
    .ftco-navbar-light .navbar-toggler {
    color: #fff !important;
}
}


/* Tablet Layout : 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.about-nav .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-bottom: 0px !important;
    padding-top: 10px !important;
}

.ftco-navbar-light .navbar-toggler {
    color: #fff !important;
}
#ftco-nav {
    background: #000;
}
}

/* Mobile Layout : 320px */

@media only screen and (max-width: 767px) {

    body {
        overflow-x: inherit !important;
    }

    #myCarousel .responsive {
        width: 100%;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        display: block;
    }

    #myCarousel img {
        display: none;
    }


    .navbar.homnav .navbar-collapse {
        background: #000 !important;
        color: #fff;
    }

    .navbar.homnav {
        margin-bottom: 0px;
    }

    #myCarousel {
        top: -21px;
    }
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-bottom: 0px !important;
    padding-top: 10px !important;
}
#ftco-nav {
    background: #000;
}
.nav-link.pl-0 {
    color: #fff;
}
.about-nav .nav-item,.contact_nav .nav-item {
    padding-left: 10px;
}

.about-nav .navbar-toggler,.contact_nav .navbar-toggler {
    margin-top: 10px;
}
.ftco-navbar-light .navbar-brand {

    color: #fff !important;
    font-size: 14px;
    padding:0px 10px;

}

.carousel-caption .content-left {
    float: inherit;
    width: 95%;
    padding-bottom: 180px;
    margin-left: 15px;
}

.carousel-caption .content-right {

    float: inherit;
    width: 95%;
    margin-left: 15px;
}

.content-left.old-mad{
    padding-bottom: 300px;
}


}


/*Wide mobile layout : 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

}